/RuntimeContainerWithNBModules/nbproject/private/
/RuntimeContainerWithNBModules/build/
/RuntimeContainerWithNBModules/TestModuleToLoad/build/
/RuntimeContainerWithNBModules/TestModuleToLoad/nbproject/private/
/AsteroidNBModules/application/target/
/AsteroidNBModules/branding/target/
/AsteroidNBModules/Common/target/
/AsteroidNBModules/Core/target/
/AsteroidNBModules/Player/target/